.branding-slides-section {
    .branding-slides-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .branding-column-left{
        background-color: $bg-black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 33rem;
        padding: 4rem 6rem;
    }

    .pattern-wave-white{
        position: relative;
        left: 20rem;
        top: 1rem;
    }

    .btn-arrow{
        background-color: $bg-black;
        cursor: pointer;
        margin: 0 0.2rem;
        border: none;
    }

    .branding-title {
        font-size: 3.5rem;
        font-weight: 700;
        margin: 0 0 1rem;
        color: $white;
        width: 27.813rem;
    }

    // .slider{
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-image: url(../assets/desktop/image-slide-1.jpg);
    //     height: 45.5rem;
    // }

    .merchandise{
        display: none;
    }

    .design{
        display: none;
    }

    .slide-title{
        position: relative;
        left: 35rem;
        top: -8rem;

        p{
            color: $white;
            font-weight: 800;
        }

        small{
            color: $white;
            position: relative;
            left: 6rem;
        }
    }

    .slide{
       width: 100%;
       height: auto;
    }


    .title-2{
        display: none;
    }

    .title-3{
        display: none;
    }
}