/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 48rem) and (max-width: 64rem) {
    header {
        .navbar {

            .logo {
                margin-left: 4rem;
            }

            .logo-container {
                width: 50%;
                padding: 1.25rem 1.25rem;
            }

            .list-container {
                width: 70%;
            }
        }
    }

    .branding {
        .branding-content {
            .branding-text {
                margin-left: 4.5rem;
            }

            h1 {
                font-size: 3.5rem;
                width: 24.875rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 0.938rem;
                line-height: 23px;
                width: 24.875rem;
            }

            .hero-image {
                width: 100%;
            }
        }
    }

    .design-section {
        .design-row {

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 0.938rem;
                width: 17.563rem;
            }
        }
    }

    .approach-section {
        .approach-content {
            align-items: center;

            h2 {
                font-size: 2rem;
                width: 17.563rem;
                left: 3rem;
            }

            .strategy-content {
                display: grid;
                margin-top: -3rem;
                width: 39.063rem;
                align-items: center;

                p {
                    width: 21.188rem;
                }
            }
        }
    }

    .footer-call-section {
        .footer-call-content {

            .wave-red-2 {
                display: none;
            }

            h2 {
                font-size: 2rem;
                width: 24.875rem;
            }

            .footer-call-text {
                font-size: 0.938rem;
            }
        }
    }

    .branding-slides-section {

        .branding-title {
            font-size: 2rem;
            width: 17.563rem;
        }

        .branding-column-left {
            align-items: center;
            width: 100%;
            padding: 0 2rem;
        }

        .branding-column-right {
            width: 100%;
            height: auto;
            // padding: 0 2rem;
        }

        .slide-title {
            left: 0;
            top: -4rem;
            text-align: center;

            p {
                font-size: 1.5rem;
            }
        }
    }
}

//  Media Query for Mobile Devices
@media(max-width: 30rem) {
    header {
        .navbar {
            justify-content: space-around;
            align-items: center;

            .logo-container {
                width: 50%;
                padding: 20px 20px;
            }

            .list-container {
                display: none;
                background-color: $bg-black;
                position: absolute;
                top: 4.5rem;
                left: 6rem;
                padding: 20px 30px;
                height: 18.25rem;
                width: 15.75rem;
                gap: 1rem;

                &.open {
                    display: block;
                }

                .list-item {
                    font-size: 1.125rem;
                    color: $text-black;
                    text-decoration: none;
                    padding: 10px 0;
                    width: 100%;
                    text-align: center;

                    &:hover {
                        color: $red-hover;
                    }
                }
            }

            .menu-red {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li {
                    margin: 10px 0;
                }
            }

            .btn-schedule {
                background-color: $red;
            }

            .mobile-toggle{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                cursor: pointer;
                border: none;
                background-color: transparent;

                .icon-open {
                    display: block;
                }

                .icon-close {
                    display: none;
                }

                &.show {
                    .icon-open {
                        display: none;
                    }

                    .icon-close {
                        display: block;
                    }
                }
            }
        }
    }

    .branding {
        .branding-content {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;

            .hero-image {
                width: 100%;
                height: auto;
            }

            h1 {
                font-size: 2.5rem;
                width: 20.438rem;
                margin-bottom: 1rem;

            }

            p {
                font-size: 0.875rem;
                width: 20.438rem;
                line-height: 1.7;
            }
        }
    }

    .design-section {
        .design-row {
            grid-template-columns: repeat(1, 1fr);
        }

        .strategic-image {
            width: 100%;
        }

        .design-box {
            flex-direction: column;
            padding: 40px 0;

            h2 {
                font-size: 2rem;
                width: 20.438rem;
            }

            p {
                font-size: 0.938rem;
                width: 20.438rem;
            }
        }

    }

    .approach-section {

        .approach-content {
            grid-template-columns: repeat(1, 1fr);

            h2 {
                color: $white;
                font-size: 2rem;
                left: 2rem;
                width: 20.438rem;
            }

            .strategy-content {
                grid-column: auto;
                justify-content: center;
                width: 100%;
                padding: 10rem 2rem;
                margin-top: -7.5rem;
                align-items: center;

                .strategy-number {
                    left: -2rem;
                    font-size: 3rem;
                }

                .strategy-description {
                    font-size: 1.125rem;
                    width: 20.438rem;
                }

                p {
                    width: 20.438rem;
                }
            }
        }
    }

    .branding-slides-section {
        .branding-slides-row {
            display: flex;
            flex-direction: column-reverse;
        }

        .branding-column-left {
            height: auto;
            margin: -2.6rem 0 3rem 0;
            padding: 4rem 2rem;
        }

        .branding-title {
            font-size: 2rem;
            width: 20.438rem;
        }

        .pattern-wave-white {
            display: none;
        }

        .slide-title {
            left: 11rem;
            top: -4rem;
            width: 172px;
        }
    }

    .footer-call-section {
        .footer-call-content {
            display: inline;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding: 2rem 0;
        }

        .wave-red-2 {
            display: none;
        }

        h2 {
            font-size: 2rem;
            width: 20.438rem;
            margin: 2rem 2rem;
        }

        .footer-call-btn {
            margin: 2rem 2rem;
        }


    }

}